AddDefaultCharset UTF-8

# Caching schema
#<FilesMatch "\.(jpg|png|css|js)$">
#Header set Cache-Control "public, proxy-revalidate, max-age=420"
#</FilesMatch>


# Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

<Files *.json>
order allow,deny
deny from all
</Files>

<Files *.php>
    Order Deny,Allow
    Deny from all
</Files>

<Files index.php>
    Order Allow,Deny
    Allow from all
</Files>

# Prevent directory listings
Options All -Indexes
