<!doctype html>
<html lang="{{ bloginfo.lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ bloginfo.name }}</title>
    <meta name="description" content="{{ bloginfo.description }}">
    <meta name="keywords" content="{{ bloginfo.keywords }}">
    <meta name="author" content="{{ bloginfo.author }}">
    <link rel="stylesheet" href="{{ system.template_url }}/{{ system.template }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ system.template_url }}/{{ system.template }}/assets/css/all.css">
    <link rel="stylesheet" href="{{ system.template_url }}/{{ system.template }}/assets/css/brands.css">
    <link rel="stylesheet" href="{{ system.template_url }}/{{ system.template }}/assets/css/solid.css">
    <link rel="stylesheet" href="{{ system.template_url }}/{{ system.template }}/assets/stylesheets/style.css">
    <meta name="theme-color" content="{{ bloginfo.browser_color }}">
    <link rel="shortcut icon" href="{{ bloginfo.favicon_url }}" type="image/x-icon">
</head>
<body>
<div class="container">
    <!-- header -->
    {{ include('default-dark/header.html') }}
    <hr>
    {{ include('default-dark/body.html') }}
    <!-- version -->
    {{ include('default-dark/footer.html') }}
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ system.template_url }}/{{ system.template }}/assets/js/jquery-3.2.1.slim.min.js"></script>
<script src="{{ system.template_url }}/{{ system.template }}/assets/js/popper.min.js"></script>
<script src="{{ system.template_url }}/{{ system.template }}/assets/js/bootstrap.min.js"></script>
</body>
</html>